.collapsed {
  width: max-content;
}

.logoWrapper {
  height: 56px;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-border-dark);
  background: var(--color-background-black);
  display: flex;
  align-items: center;
}

.logoWrapper span {
  font-size: 1.25rem;
}

.logoWrapper a {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: var(--color-font-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border-dark);
  padding: 16px;
  gap: 16px;
}

.innerWrapper {
  display: flex;
  width: 100%;
  gap: 8px;
}

.innerWrapper div {
  display: flex;
  flex-direction: column;
}

.collapseBtnWrapper {
  height: 40px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-border-dark);
  padding: 8px 16px;
  cursor: pointer;
}

.nav {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.navList {
  padding: 8px 0;
  flex: 1;
}

.navList,
.subNavList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.subNavList {
  width: 100%;
}

.navItem,
.subNavItem {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.navItem {
  padding: 0 8px;
}

.navLink,
.subNavLink {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 100%;
}

.navLink :nth-child(2),
.subNavLink :nth-child(1) {
  flex: 1;
}

.subNavLink {
  padding-left: 34px;
}

.navLink:hover,
.subNavLink:hover {
  background-color: var(--color-background-dark);
  color: var(--color-font-black);
}

.rotatedArrow {
  transform: rotate(180deg);
}

.navItem:last-child {
  margin-top: auto;
}
