:root {
  --color-tone-black: #1a1a1a;
  --color-tone-dark: #d3d3d3;
  --color-tone-light: #efefef;
  --color-tone-white: #ffffff;
  --color-tone-red: #ff0000;

  --color-background-black: var(--color-tone-black);
  --color-background-white: var(--color-tone-white);
  --color-background-light: var(--color-tone-light);
  --color-background-dark: var(--color-tone-dark);

  --color-font-black: var(--color-tone-black);
  --color-font-white: var(--color-tone-white);
  --color-font-error: var(--color-tone-red);

  --color-border-black: var(--color-tone-black);
  --color-border-dark: var(--color-tone-dark);
  --color-border-light: var(--color-tone-light);
  --color-border-error: var(--color-tone-red);

  --color-btn-primary-background: var(--color-background-black);
  --color-btn-primary-border: var(--color-border-black);

  --color-btn-secondary-background: var(--color-background-light);
  --color-btn-secondary-border: var(--color-border-dark);

  --font-family-primary: "Trebuchet MS", sans-serif, monospace;

  --form-input-focus-box-shadow: 0 0 0 2px rgba(20, 99, 243, 0.1);
  --form-input-error-box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1);
}

html {
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: var(--font-family-primary) !important;
  line-height: initial;
}

body {
  background-color: var(--color-background-white);
  color: var(--color-font-black);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

.contentContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  white-space: nowrap;
  color: var(--color-font-black);
  cursor: pointer;
}

.dNone,
.hide {
  display: none !important;
}

.error {
  color: red;
}

svg[fill="currentColor"]:not([fill="none"]),
svg
  :is(
    rect,
    path,
    line,
    circle,
    ellipse,
    polyline,
    polygon
  )[fill="currentColor"]:not([fill="none"]) {
  fill: var(--color-font-black);
}

svg[stroke="currentColor"]:not([stroke="none"]),
svg
  :is(
    rect,
    path,
    line,
    circle,
    ellipse,
    polyline,
    polygon
  )[stroke="currentColor"]:not([stroke="none"]) {
  stroke: var(--color-font-black);
}

a {
  text-decoration: none;
  color: var(--color-font-black);
  cursor: pointer !important;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.postTitle {
  font-size: 1.25rem;
}

::placeholder,
input {
  color: var(--color-font-black);
}

menu {
  width: 200px;
  border-right: 1px solid var(--color-border-dark);
  background: var(--color-background-light);
  color: var(--color-font-black);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

menu a.active,
menu a.active:hover {
  background-color: var(--color-background-black);
  color: var(--color-font-white);
}

.btn {
  padding: 5px 10px;
  height: 30px;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.8;
}

.btnPrimary {
  background: var(--color-btn-primary-background);
  border: 1px solid var(--color-btn-primary-border);
  color: var(--color-font-white);
}

.btnSecondary {
  background: var(--color-btn-secondary-background);
  border: 1px solid var(--color-btn-secondary-border);
  color: var(--color-font-black);
}

.btnLink {
  text-decoration: underline;
  font-weight: 800;
}

.btnToolbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.btn:disabled {
  background: var(--color-btn-secondary-background);
  border: 1px solid var(--color-btn-secondary-border);
  color: var(--color-font-black);
}

.btn:disabled,
.btn:disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}

.relative {
  position: relative;
}

.p20 {
  padding: 20px;
}

.fontLG {
  font-size: 1.125rem;
}

.fontXL {
  font-size: 1.25rem;
}

.font2XL {
  font-size: 1.5rem;
}

.fontBold {
  font-weight: 700;
}

input {
  accent-color: var(--color-background-black);
}

.textRight {
  text-align: right !important;
  justify-content: end;
}

.textCenter {
  text-align: center !important;
  justify-content: center;
}

hr {
  border-top: 1px solid var(--color-border-dark);
}

input,
textarea,
select {
  font-size: 1rem;
}

small {
  font-size: 0.875rem;
}

.headingFontLarge {
  font-size: 3rem;
}

.headingFontMedium {
  font-size: 2rem;
}

.btnL {
  height: 40px;
  font-size: 1.25rem;
}