:root {
  --color-tone-1: #1a1a1a;
  --color-tone-2: #707382;
  --color-tone-3: #c4c4c4;
  --color-tone-4: #dbdce0;
  --color-tone-5: #efefef;
  --color-tone-6: #ffffff;
  --color-tone-7: #1463F3;

  --color-background: var(--color-tone-6);
  --color-background-reverse: var(--color-tone-1);
  --color-background-light: var(--color-tone-5);
  --color-background-primary: var(--color-tone-7);

  --color-font: var(--color-tone-1);
  --color-font-reverse: var(--color-tone-6);
  --color-font-light: var(--color-tone-6);
  --color-font-dark: var(--color-tone-1);

  --color-border-dark: var(--color-tone-1);
  --color-border-light: var(--color-tone-4);
  --color-border-primary: var(--color-tone-7);

  --color-switch: var(--color-tone-2);
  --color-switch-knob: var(--color-tone-6);

  --color-btn-primary-background: var(--color-tone-7);
  --color-btn-primary-border: var(--color-tone-7);

  --color-btn-secondary-background: var(--color-tone-4);
  --color-btn-secondary-border: var(--color-tone-3);

  --font-family-primary: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  --form-input-focus-box-shadow: 0 0 0 2px rgba(20, 99, 243, 0.1);
}

/* .dark {
  --color-background: var(--color-tone-1);
  --color-background-reverse: var(--color-tone-6);
  --color-background-light: var(--color-tone-2);

  --color-font: var(--color-tone-6);
  --color-font-reverse: var(--color-tone-1);

  --color-border-dark: var(--color-tone-6);
  --color-border-light: var(--color-tone-2);

  --color-btn-secondary-background: var(--color-tone-2);
  --color-btn-secondary-border: var(--color-tone-3);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-tone-1);
    --color-background-reverse: var(--color-tone-6);
    --color-background-light: var(--color-tone-2);

    --color-font: var(--color-tone-6);
    --color-font-reverse: var(--color-tone-1);

    --color-border-dark: var(--color-tone-6);
    --color-border-light: var(--color-tone-2);

    --color-btn-secondary-background: var(--color-tone-2);
    --color-btn-secondary-border: var(--color-tone-3);
  }
} */

html {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: var(--font-family-primary) !important;
  line-height: initial;
}

body {
  background-color: var(--color-background);
  color: var(--color-font);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

main {
  flex-grow: 1;
}

.contentContainer {
  overflow-y: auto;
}

button {
  background: none;
  white-space: nowrap;
  color: var(--color-font);
  cursor: pointer;
}

.dNone,
.hide {
  display: none !important;
}

.error {
  color: red;
}

svg[fill="currentColor"]:not([fill="none"]),
svg :is(rect,
  path,
  line,
  circle,
  ellipse,
  polyline,
  polygon)[fill="currentColor"]:not([fill="none"]) {
  fill: var(--color-font);
}

svg[stroke="currentColor"]:not([stroke="none"]),
svg :is(rect,
  path,
  line,
  circle,
  ellipse,
  polyline,
  polygon)[stroke="currentColor"]:not([stroke="none"]) {
  stroke: var(--color-font);
}

a {
  text-decoration: none;
  color: var(--color-font);
  cursor: pointer !important;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.postTitle {
  font-size: 1.25rem;
}

::placeholder,
input {
  color: var(--color-font);
}

.actionWrapper {
  display: flex;
  gap: 10px;
}

.button {
  border-radius: 0;
  width: max-content;
  padding: 10px 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-tone-2);
  border: 2px solid var(--color-tone-2);
  color: var(--color-tone-6);
}

.button:disabled svg {
  height: 24px !important;
  width: 24px !important;
  stroke: var(--color-tone-6) !important;
}

.buttonPrimary {
  background-color: var(--color-background-reverse);
  border: 2px solid var(--color-border-dark);
  color: var(--color-font-reverse);
}

.buttonSecondary {
  background-color: var(--color-background);
  border: 2px solid var(--color-border-dark);
  color: var(--color-font);
}


menu a.active,
menu a.active:hover {
  background: var(--color-background-reverse);
  color: var(--color-font-reverse);
}

.btn {
  padding: 5px 10px;
  height: 30px;
}

.btnPrimary {
  background: var(--color-btn-primary-background);
  border: 1px solid var(--color-btn-primary-border);
  color: var(--color-font-light);
}

.btnSecondary {
  background: var(--color-btn-secondary-background);
  border: 1px solid var(--color-btn-secondary-border);
}

.btnToolbar {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-top: 1px solid var(--color-border-light);
}